<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap-material-design.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <!-- <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a> -->
      
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/home">Inicio</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" href="/today">
                    <span data-feather="home"></span>
                    Hoy
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/monday">
                    <span data-feather="file"></span>
                    Lunes
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/tuesday">
                    <span data-feather="shopping-cart"></span>
                    Martes
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/wednesday">
                    <span data-feather="users"></span>
                    Miercoles
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/thursday">
                    <span data-feather="bar-chart-2"></span>
                    Jueves
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/friday">
                    <span data-feather="layers"></span>
                    Viernes
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/saturday">
                    <span data-feather="layers"></span>
                    Sabado
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/sunday">
                    <span data-feather="layers"></span>
                    Domingo
                  </a>
                </li>
            </ul>

            
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          
            <h2>Actividades de {{day}}</h2>
            <div class="table-responsive">
              <table class="table table-striped table-sm">
                <thead>
                  <tr>
                   
                    <th>Nombre de la Actividad</th>
                    <th>Fecha</th>
                    <th>Hora de Inicio</th>
                    <th>Hora de Finalizacion</th>
                    
                  </tr>
                </thead>
                <tbody>
                    {% for x in lista %}
                      
                      <tr>
                          <td>{{ x[0] }}</td>
                          <td>{{ x[1] }}</td>
                          <td>{{ x[2] }}</td>
                          <td>{{ x[3] }}</td>
                          
                        </tr>
                    {% endfor %} 
                  
                  
                </tbody>
              </table>
          
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="/static/js/vendor/popper.min.js"></script>
    <script src="/static/js/bootstrap-material-design.min.js"></script>

    
  </body>
</html>
